[Unit]
Description=Netblog maintenance logger front-end
After=network.target

[Service]
Type=simple

# Preferably configure a non-privileged user
User=<username>
Group=<usergroup>

# The absolute path to the application root, i.e., /home/<username>/netblog
# This loads all public assets such as css, javascript, images, etc.
WorkingDirectory=/home/<username>/netblog

# Environment variables
Environment=DB_DIR=absolute_path_to_database_directory
Environment=DATABASE_URL=sqlite3:absolute_path_to_database/netlog.db
Environment=SESSION_SECRET=the_secret_from_your_bashrc

PIDFile=/tmp/netblog.pid

# The command to start the service
ExecStart=/usr/local/bin/netblog

TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target

